<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Failed</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        
        .box {
            border: 2px solid #000;
            background-color: rgb(128, 0, 0);
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="box">
        <h3>Internal server error!</h3>
    </div>
    <h4>go to <a href="https://notebooks-darshankamble.herokuapp.com/">Home Page</a> </h4>
</body>

</html>